server {
    listen 8000;
    server_name _;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root /home/azureuser/devopsAdmin/student_management;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/azureuser/devopsAdmin/student_management/student_management.sock;
    }
}
